<html>
    <body>
        <div class="login">
            <h1>FWI Prediction</h1>
                <form action="{{url_for('predict_datapoint')}}" method="post">
                    <label for="Temperature">Enter Temperature:</label>
                    <input type="text" id="Temperature" name="Temperature" placeholder="Temperature" required="required"><br><br>

                    <label for="RH">Enter RH:</label>
                    <input type="text" id="RH" name="RH" placeholder="RH" required="required"><br><br>

                    <label for="Ws">Enter Ws:</label>
                    <input type="text" id="Ws" name="Ws" placeholder="Ws" required="required"><br><br>

                    <label for="Rain">Enter Rain:</label>
                    <input type="text" id="Rain" name="Rain" placeholder="Rain" required="required"><br><br>

                    <label for="FFMC">Enter FFMC:</label>
                    <input type="text" id="FFMC" name="FFMC" placeholder="FFMC" required="required"><br><br>

                    <label for="DMC">Enter DMC:</label>
                    <input type="text" id="DMC" name="DMC" placeholder="DMC" required="required"><br><br>

                    <label for="ISI">Enter ISI:</label>
                    <input type="text" id="ISI" name="ISI" placeholder="ISI" required="required"><br><br>

                    <label for="Classes">Enter Classes:</label>
                    <input type="text" id="Classes" name="Classes" placeholder="Classes" required="required"><br><br>

                    <label for="Region">Enter Region:</label>
                    <input type="text" id="Region" name="Region" placeholder="Region" required="required"><br><br>

                    <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
                </form>
            <h2>
                The predicted FWI is {{result}}
            </h2>
        </div>
    </body>
</html>